.note-editor.note-frame {
  border-radius: 3px;
  border: 1px solid color(body);
  box-shadow: none;
  &.note-editing-area.note-editable.card-block {
    color: color(font) !important;
    background-color: color_lighten(body, 10%) !important;
  }
}

.note-toolbar {
  padding: 0 0 5px 5px !important;
  position: relative !important;
  &.card-header {
    height: auto;
    display: block;
    min-height: auto;
    background-color: color_lighten(body, 5%);
  }
  .note-btn {
    color: color(font) !important;
    font-size: 12px;
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
  }
}