$colors: (
  primary:    		#8997fc,
  secondary:      #cdd3d8,
  success:        #67db82,
  info:           #72caf3,
  warning:        #f0be78,
  danger:         #ec7c76,
  light:          #e3eaef,
  grey:  		      #868e96,
  whitesmoke:     #f7f9f9,
  dark:       		#121212,
  muted:          #98a6ad,
  body:           #121212,
  font:           #fafafa,
  fontdark:       #fafafa,
  white:          #ffffff,

  // Form Control
  formcontrol_normal_background:    #212121,
  formcontrol_normal_border:        #e4e6fc00,
  formcontrol_focus_background:     #424242,
  formcontrol_focus_border:         #e5e6eb00,

  // Utilities
  section_title_line: #6777ef,
);

$font_family:   'Nunito', 'Segoe UI', arial;
$font_weight:   400;
$font_size:     14px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

